.sprite-container {
    height: 10vh;
    display: flex;
    align-items: center;   
}

.sprite-image {
    height: 123px;
    width: 70px;
    background: url(./Smurf.png) 5px 5px;
    animation: play 0.8s steps(4) infinite,
        step 10s linear infinite;
    position: absolute;
    left: 0;
}

@keyframes play{
    100% {
        background-position: -1120px;
    }
}
@keyframes step {
    100% {
        left: 100%;
    }
}